* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  body{
    background: #2E2E2E;
      margin: 0;
      background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .start {
    position: relative;
    width: 100;
    height: 100vh;
   
  }
  
  nav {
    position: sticky;
    z-index: 1;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    background: #424242;
    box-shadow: 0 3px 5px black;
    right: 1;
    left: 1;
  }
  nav ul li {
    display: block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: rgb(199, 34, 34);
  }
 
  .logo{
      height: 100px;
      width: 200px;
    
      
  }
  
  .pfp{
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    height: 8 0px;
    width: 85px;
    margin-right: 80px;
    margin-top: -5px;
    margin-left: 40px;
    box-shadow: 0 3px 8px black;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 
        0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2e2b2b
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(34, 31, 31);
}

.email{
  position: absolute;
  display: inline-block;
  background-color: #f3f7f7;
  border-radius: 5px;
  display: inline-block;
  background-color: #f3f7f7;
  border-radius: 5px;
  color: #404040;
  bottom: 58px;
  right: 183px; 
  padding-right: 20px;
  box-shadow: 0 3px 8px black;
  
}
.light-mode {
  background-color: white ;
  color: white;
  --startcolor: white;
  --navBg: white;
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--sage);
  --navBg: var(--sage);
  --navLinkHoverBg: var(--paleSpringBud);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
}

.button{
 
  background-color: black;
  border-radius: 50%;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}
* {
  transition: background-color 0.6s ease, color 1s ease;
}
:root {
  --navHeight: 70px;
  --sage: #white;
  --navBg: var(--sage);

}
* {
  color: var(--fontColor);
}

nav {
  background: var(--navBg);
}


main {
  background: var(--mainBg);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(148, 13, 13);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(148, 13, 13);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
  box-shadow: 0 3px 8px black;
}

.slider.round:before {
  border-radius: 50%;
  box-shadow: 0 3px 8px black;
}